@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  color: #262626;
  font-size: 18px; }

body {
  height: 100vh;
  width: 100%;
  display: flex;
  background: #f4f4f4;
  position: relative; }

.container {
  width: 100%; }

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background: white;
  height: 50px;
  display: flex;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1); }

.menu-btn {
  margin: auto auto auto 20px; }

.btn {
  display: block;
  height: 25px;
  width: 25px; }

aside {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  width: 250px;
  background: white;
  height: calc(100vh - 50px);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex; }

.list {
  margin: 20px auto auto 25px;
  list-style: none; }

.item {
  padding: 5px 0; }

.slide-enter-active,
.slide-leave-active {
  left: -100%;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);}

.slide-enter,
.slide-leave-to {
  left: -100%;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }


